@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&display=swap');

body {
  background-color: #f28ab2;
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  margin-bottom: 50px;
}

header {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-weight: bolder;
}

.app-header {
  margin-bottom: 40px;
}

Input[type='text'] {
  border: none;
  padding: 5px 5px;
  font-size: large;
  border-radius: 5px;
}

*:focus {
  outline: none;
}

button {
  border-radius: 5px;
  color: white;
  border: none;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  font-size: medium;
  font-weight: 500;
}

.add-todo-input {
  background: white;
  border-radius: 5px;
}

.Add {
  background-color: #20a729;
  margin-bottom: 30px;
}

Input[type='checkbox'] {
  cursor: pointer;
  justify-self: end;
}

ul {
  width: 600px;
  margin: 0 auto;
  padding: 0;
  border-radius: 5px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  background: white;
}

.todo-container {
  padding: 10px;
}

.not-editing-list {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: start;
}

.editing-list {
  display: grid;
  grid-template-columns: 11fr 1fr 1fr;
  align-items: center;
}

.editing-list input {
  border-bottom: 1px solid green;
  border-radius: 0;
  padding: 0 0 0 5px;
  margin-left: -4px;
  margin-top: 3px;
  font-size: larger;
}

.cross-icon {
  font-size: 12px;
  color: red;
  margin-right: 5px;
  cursor: pointer;
}

.cancel-icon {
  color: red;
  cursor: pointer;
  font-size: 16px;
  justify-self: end;
}

.trash-icon {
  color: red;
  cursor: pointer;
  font-size: 14px;
  justify-self: end;
}

.edit-icon,
.save-icon {
  color: #28a745;
  cursor: pointer;
  font-size: 16px;
  justify-self: end;
}

.todo-completed {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  font-size: large;
}

.todo-name {
  font-size: large;
}

.loading {
  width: 100px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
